.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed rgb(13, 202, 240);
    animation: rotate 5s infinite linear; 
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
@keyframes rotate{
    from{
        transform: rotate(0deg) scale(0.7);
    }
    50%{
        transform: rotate(360deg) scale(1.6);
    }
    to{
        transform: rotate(0deg) scale(0.8);
    }
}
